apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: xerobookz
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 8001
    targetPort: 8001
    protocol: TCP
    name: http
  selector:
    app: auth-service

